## **Starting with Pandas**

### ***Basics Of Pandas***
    -- Creating Objects
    -- Viewing Data
    -- Selection and Slicing
    -- Operations
    -- Manipulating Data
    -- Grouping Data
    -- Merging, Joining, Concatenating and Comparing
    -- Working with Date and Time
    -- Working with Text Data
    -- Working with CSV and Excel files
    -- Visualization
    -- Applications and Projects

In [ ]:
# Importing Dependency
import pandas as pd
import numpy as np
from datetime import datetime, date

##### ***Creating Objects of Pandas Dataframe and Series***
    --> datas in list format, dictionary format or other
```
    dataframe = pd.DataFrame(datas)
``` 
    --> datas in list format, dictionary format or other
```
    series = pd.Series(datas)
``` 
    --> datas load from csv files
```
    df_csv = pd.read_csv(datas)
```

In [ ]:


# # # Creating Objects
# # Dataframe Creating
# Empty Dataframe
df_1 = pd.DataFrame()
print("DataFrame : ", df_1)
print("DataFrame Size : ", df_1.size)
print("DataFrame Shape : ", df_1.shape)
print("DataFrame Types : ", df_1.dtypes)
print()
print("===================================================================================== ")
print()

# Dataframe from List without Column name
df_2 = pd.DataFrame([['Apple', 'Mango', 'Grapes', 'Amrut'], [12, 24, 36, 48]])
print("DataFrame : ", df_2)
print("DataFrame Size : ", df_2.size)
print("DataFrame Shape : ", df_2.shape)
print("DataFrame Types : ", df_2.dtypes)
print()

df_3 = pd.DataFrame(['Apple', 'Mango', 'Grapes', 'Amrut'], [12, 24, 36, 48])
print("DataFrame : ", df_3)
print("DataFrame Size : ", df_3.size)
print("DataFrame Shape : ", df_3.shape)
print("DataFrame Types : ", df_3.dtypes)
print()

df_4 = pd.DataFrame([['Apple', 12], ['Mango', 24], ['Grapes', 36], ['Amrut', 48]])
print("DataFrame : ", df_3)
print("DataFrame Size : ", df_4.size)
print("DataFrame Shape : ", df_4.shape)
print("DataFrame Types : ", df_4.dtypes)
print()
print("===================================================================================== ")
print()

# Dataframe from List with Column name
df_5 = pd.DataFrame({'Fruits' : ['Apple', 'Mango', 'Grapes', 'Amrut'], 
                     'Score' : [12, 24, 36, 48]})
print("DataFrame : \n", df_5)
print("DataFrame Size : ", df_5.size)
print("DataFrame Shape : ", df_5.shape)
print("DataFrame Types : \n", df_5.dtypes)
print()

df_6 = pd.DataFrame([['Apple', 12], ['Mango', 24], ['Grapes', 36], ['Amrut', 48]], columns=['Fruits', 'Score'])
print("DataFrame : \n", df_6)
print("DataFrame Size : ", df_6.size)
print("DataFrame Shape : ", df_6.shape)
print("DataFrame Types : \n", df_6.dtypes)
print()

df_7 = pd.DataFrame([{'a': 1, 'b': 2, 'c': 3},{'a': 10, 'b': 20, 'c': 30}])
print("DataFrame : \n", df_7)
print("DataFrame Size : ", df_7.size)
print("DataFrame Shape : ", df_7.shape)
print("DataFrame Types : \n", df_7.dtypes)
print()
print("===================================================================================== ")
print()

# Dataframe from List with Column name with index
df_8 = pd.DataFrame([['Apple', 12], ['Mango', 24], ['Grapes', 36], ['Amrut', 48]], 
                    columns=['Fruits', 'Score'],
                    index=['id1', 'id2', 'id3', 'id4'])
print("DataFrame : \n", df_8)
print("DataFrame Size : ", df_8.size)
print("DataFrame Shape : ", df_8.shape)
print("DataFrame Types : \n", df_8.dtypes)
print()

df_9 = pd.DataFrame(list(zip(['Apple', 'Mango', 'Grapes', 'Amrut'], [12, 24, 36, 48])), 
                    columns=['Fruits', 'Score'],
                    index=['id1', 'id2', 'id3', 'id4'])
print("DataFrame : \n", df_9)
print("DataFrame Size : ", df_9.size)
print("DataFrame Shape : ", df_9.shape)
print("DataFrame Types : \n", df_9.dtypes)
print()
print("===================================================================================== ")
print()

In [ ]:
# # Series Creating
# Empty Series
ds_1 = pd.Series()
print("DataSeries : ", ds_1)
print("DataSeries Size : ", ds_1.size)
print("DataSeries Shape : ", ds_1.shape)
print("DataSeries Types : ", ds_1.dtypes)
print()
print("===================================================================================== ")
print()

# DataSeries from List without Column name
ds_2 = pd.Series([['Apple', 'Mango', 'Grapes', 'Amrut'], [12, 24, 36, 48]])
print("DataSeries : \n", ds_2)
print("DataSeries Size : ", ds_2.size)
print("DataSeries Shape : ", ds_2.shape)
print("DataSeries Types : ", ds_2.dtypes)
print()

ds_3 = pd.Series([['Apple', 12], ['Mango', 24], ['Grapes', 36], ['Amrut', 48]])
print("DataSeries : \n", ds_3)
print("DataSeries Size : ", ds_3.size)
print("DataSeries Shape : ", ds_3.shape)
print("DataSeries Types : ", ds_3.dtypes)
print()
print("===================================================================================== ")
print()

# DataSeries from List with Index name
ds_5 = pd.Series([['Apple', 'Mango', 'Grapes', 'Amrut'], [12, 24, 36, 48]], index=['Fruits', 'Num'])
print("DataSeries : \n", ds_5)
print("DataSeries Size : ", ds_5.size)
print("DataSeries Shape : ", ds_5.shape)
print("DataSeries Types : ", ds_5.dtypes)
print()

ds_6 = pd.Series(['Apple', 'Mango', 'Grapes', 'Amrut'], [12, 24, 36, 48])
print("DataSeries : \n", ds_6)
print("DataSeries Size : ", ds_6.size)
print("DataSeries Shape : ", ds_6.shape)
print("DataSeries Types : ", ds_6.dtypes)
print()

ds_7 = pd.Series(10, index=[0, 1, 2, 3, 4, 5])
print("DataSeries : \n", ds_7)
print("DataSeries Size : ", ds_7.size)
print("DataSeries Shape : ", ds_7.shape)
print("DataSeries Types : ", ds_7.dtypes)
print()

ds_8 = pd.Series({'Aam': 10, 'Angur': 20, 'Amrut': 30})
print("DataSeries : \n", ds_8)
print("DataSeries Size : ", ds_8.size)
print("DataSeries Shape : ", ds_8.shape)
print("DataSeries Types : ", ds_8.dtypes)
print()
print("===================================================================================== ")
print()

##### ***Viewing Data***
    --> Show top of the data, n - number of rows
```
    dataframe.head(n)
``` 
    --> Show bottom of the Data, n - number of rows
```
    dataframe.tail(n)
``` 
    --> Describes Data, parameter - (percentiles, includes, ..)
```
    dataframe.describe(paramenter)
```

In [ ]:
# # # Viewing Data
data = pd.read_csv("/Coding/Python's Library/Data/nba.csv")
print(data)
print()
print("===================================================================================== ")
print()

# # Printing top 10 data
data_top = data.head(10)
print(data_top)
print()

# # Printing top 10 data
data_top_col = data['Name']
data_top = data_top_col.head(10)
print(data_top)
print()

# # Printing bottom 10 data
data_bottom = data.tail(10)
print(data_bottom)
print()
print("===================================================================================== ")
print()

# # Printing bottom 10 data
data_bottom_col = data['Name']
data_bottom = data_bottom_col.tail(10)
print(data_bottom)
print()

# # Printing description of data
data_Desc = data.describe()
print(data_Desc)
print()
print("===================================================================================== ")
print()

# percentile list
perc = [.20, .40, .60, .80]
# list of dtypes to include
include = ['object', 'float', 'int']
# calling describe method
data_Desc_perc = data.describe(percentiles=perc, include=include)
print(data_Desc_perc)
print()
print("===================================================================================== ")
print()

##### ***Selecting And Slicing Dataframe and Series***
    --> By Using Direct Rows and Column
    --> Deals with Rows By using .iloc[]
    --> Deals with Rows By using .loc[]
    --> By Index Boolean

In [ ]:
# # # Selection and Slicing
# # Dealing with Rows and Columns in Pandas DataFrame
data = pd.read_csv("/Coding/Python's Library/Data/nba.csv", index_col ="Name" )
print(data)
print()

# Fetch dataset by their columns
print(data[['Height', 'Age']])
print()

# Drop the column
data.drop(["Team", "Weight"], axis = 1, inplace = True)
print(data)
print()

# Add row to dataframe
add_row = pd.DataFrame({'Name':'Geeks', 'Team':'Boston', 'Number':3,
                        'Position':'PG', 'Age':33, 'Height':'6-2',
                        'Weight':189, 'College':'MIT', 'Salary':99999},index =[0])
data_add = pd.concat([add_row, data]).reset_index(drop = True)
print(data_add)
print()
print("===================================================================================== ")
print()

# Drop the Row
data.drop(["Avery Bradley", "John Holland", "R.J. Hunter","R.J. Hunter"], inplace = True)
print(data)
print()

# # Pandas Extracting Rows using loc operation
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]
print(first, '\n\n\n', second)
print()

# retrieving rows
rows = data.loc[["Avery Bradley", "R.J. Hunter"]]
print(rows)
print()
print(type(rows))
print()

# retrieving rows for two
rows = data.loc["Avery Bradley":"Isaiah Thomas"]
print(rows)
print()

# # Pandas Extracting Rows using iloc operation
first = data.iloc[1]
print(first)
print()

# retrieving rows for two
rows = data.iloc[3:8]
print(rows)
print()
print("===================================================================================== ")
print()

# # Pandas Series.str.slice()
# removing null values to avoid errors 
data.dropna(inplace = True) 
# start stop and step variables
start, stop, step = 0, -2, 1
data["Salary"]= data["Salary"].astype(str)
data["Salary (int)"]= data["Salary"].str.slice(start, stop, step)
print(data.head(10))
print()

# # Column Slicing
data_an = pd.DataFrame({
    "a": [1, 2, 3, 4, 5, 6, 7],
    "b": [2, 3, 4, 2, 3, 4, 5],
    "c": [3, 4, 5, 2, 3, 4, 5],
    "d": [4, 5, 6, 2, 3, 4, 5],
    "e": [5, 6, 7, 2, 3, 4, 5]
    })
print(data_an)
print()
print(data_an.reindex(columns=['b', 'c']))
print()
print(data_an.loc[:, "b":"d":2])
print()
print(data_an.iloc[:, 1:3:1])
print()
print("===================================================================================== ")
print()

##### ***Some Basic Operations in Pandas***
    --> Apply any function to the column by .apply()
```
    dataframe['Column'].apply(Function, convert_dtype=True, args=())
``` 
    --> Apply some aggregate function like ['sum', 'mul'] so on.
```
    dataframe.aggregate(func, axis=0, *args, **kwargs)
```
    --> Finding mean of the numeric dataframe same as mad
```
    dataframe.mean(axis=None, skipna=None, level=None, numeric_only=None, **kwargs)
    dataframe.mad(axis=None, skipna=None, level=None)

    series.mean(axis=None, skipna=None, level=None, numeric_only=None, **kwargs)
    series.mad(axis=None, skipna=None, level=None)
```
    --> Finding Standard Error and Value_count in series.
```
    dataframe.sem(axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs)
    series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)
```

In [ ]:
# # # Operations
# # Using apply operation to Dataframe and Series.
data = pd.read_csv('Data/Stock.csv')
data_op = data.squeeze()

# # Syntax : data_op.apply(func, convert_dtype=True, args=())
# defining function to check price
def fun(num):
    if int(num)<29:
        return "LOW CLOSE"
    elif int(num)>= 29 and int(num)<30:
        return "NORMAL CLOSE"
    else:
        return "HIGH CLOSE"

# passing function to apply and storing returned series in new
data_op_n1 = data_op['Close'].apply(fun)
print(data_op_n1)
print()

data_op_n2 = data_op['High'].apply(lambda num : num + 5)
print(data_op_n2)
print()
print("===================================================================================== ")
print()

## Apply function to every row in a Pandas DataFrame
# --> Function to add
def add(a, b, c):
    return a + b + c

data = {
        'A':[1, 2, 3],
        'B':[4, 5, 6],
        'C':[7, 8, 9]
        }

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)
df['Add'] = df.apply(lambda row : add(row['A'], row['B'], row['C']), axis = 1)
# df['Add'] = df.apply(np.sum, axis = 1)
print('\nAfter Applying Function: ')
print(df)
print()
print("=====================================================================================")
print()

# --> Normalize DataFrame
def normalize(x, y):
    norm = ((x - np.mean([x, y])) / (max(x, y) - min(x, y)))
    return norm

data = {
    'X':[1, 2, 3],
    'Y':[45, 65, 89]
    }
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)    
df['X'] = df.apply(lambda row : normalize(row['X'], row['Y']), axis = 1)

print('\nNormalized:')
print(df)
print()
print("=====================================================================================")
print()

# --> Generate Range
def generate_range(n):
    n = int(n)
    lower_limit = n//10 * 10
    upper_limit = lower_limit + 10
    return str(str(lower_limit) + '-' + str(upper_limit))

def replace(row):
    for i, item in enumerate(row):
        row[i] = generate_range(item)
    return row

data = {
    'A':[0, 2, 3],
    'B':[4, 15, 6],
    'C':[47, 8, 19]
    }
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)    
df = df.apply(lambda row : replace(row))

print('\nRange Showing Like that:')
print(df)
print()
print("=====================================================================================")
print()

# apply on Series and change value
series_op = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio'])
index_ = ['City 1', 'City 2', 'City 3', 'City 4', 'City 5']
series_op.index = index_
print(series_op)
print()

series_op_n = series_op.apply(lambda x : 'Montreal' if x =='Rio' else x )
print(series_op_n)
print()
print("=====================================================================================")
print()

series_op = pd.Series([11, 21, 8, 18, 65, 18, 32, 10, 5, 32, None])
index_ = pd.date_range('2010-10-09 08:45', periods = 11, freq ='Y')
series_op.index = index_
print(series_op)
print()

series_op_n = series_op.apply(lambda x : True if x>30 else False)
print(series_op_n)
print()
print("=====================================================================================")
print()

***Pandas provide a method to make Calculation of MAD (Mean Absolute Deviation) very easy.***
***MAD is defined as average distance between each value and mean.***

    --> The formula used to calculate MAD is:

![Alt text](image.png)

In [ ]:
print("=====================================================================================")
print()
# # Pandas dataframe.aggregate()
data = pd.read_csv('Data/nba.csv')
print(data[:10])
print()

# Applying aggregation across all the columns
# sum and min will be found for each
# numeric type column in df dataframe
print(data['Number'].aggregate(['sum', 'min']))
print()

# We are going to find aggregation for these columns
print(data.aggregate({
    "Number":['sum', 'min'],
    "Age":['max', 'min'],
    "Weight":['min', 'sum'],
    "Salary":['sum']
    }))
print()
print("=====================================================================================")
print()


# # DataFrame.mean() Same for Series.mean()
# # DataFrame.mad() Same for Series.mad() --> tends for Mean Absolute Deviation
# # DataFrame.sem() Same for Series.sem() --> tends for Atandard Error of the Mean
df_mean = pd.DataFrame({
    "A":[12, 4, 5, 44, 1],
    "B":[5, 2, 54, 3, 2],
    "C":[20, 16, 7, 3, 8],
    "D":[14, 3, 17, 2, 6]
    })
print(df_mean)
print()

# Even if we do not specify axis = 0,
# the method will return the mean over
# the index axis by default
print(df_mean.mean(axis = 0))
print(df_mean.sem(axis = 0))
print()

df_mean = pd.DataFrame({
    "A":[12, 4, 5, None, 1],
    "B":[7, 2, 54, 3, None],
    "C":[20, 16, 11, 3, 8],
    "D":[14, 3, None, 2, 6]
    })

# skip the Na values while finding the mean
print(df_mean.mean(axis = 1, skipna = True))
print(df_mean.sem(axis = 1, skipna = True))
print()
print("=====================================================================================")
print()

# # Value count function
series_vc = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio', 'Chicago', 'Lisbon'])
print(series_vc)
print()

print(series_vc.value_counts())
print()

index = pd.Index(['Harry', 'Mike', 'Arther', 'Nick', 'Harry', 'Arther'], name ='Student')
print(index)
print()

print(index.value_counts())
print()
print("=====================================================================================")
print()


# # Applying Lambda functions to Pandas Dataframe
values= [['Rohan',455],['Elvish',250],['Deepak',495],['Soni',400],['Radhika',350],['Vansh',450]]
df_lamb = pd.DataFrame(values,columns=['Name','Total_Marks'])
print(df_lamb)
print()
 
# --> Applying lambda function to find percentage of 'Total_Marks' column using df.assign()
df_lamb_n = df_lamb.assign(Percentage = lambda x: (x['Total_Marks'] /500 * 100))
print(df_lamb_n)
print()

values_list = [[15, 2.5, 100], [20, 4.5, 50], [25, 5.2, 80],
               [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90],
               [51, 2.3, 111]]
df_lamb_1 = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'])
print(df_lamb_1)
print()

# --> Applying lambda function to find the product of 3 columns using df.assign()
df_lamb_n1 = df_lamb_1.assign(Product=lambda x: (x['Field_1'] * x['Field_2'] * x['Field_3']))
print(df_lamb_n1)
print()

values_list = [[15, 2.5, 100], [20, 4.5, 50], [25, 5.2, 80],
               [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90],
               [51, 2.3, 111]]
df_lamb_2 = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'],
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
print(df_lamb_2)
print()

# --> Apply function numpy.square() to square the values of one row only i.e. row with index name 'd'
df_lamb_n2 = df_lamb_2.apply(lambda x: np.square(x) if x.name == 'd' else x, axis=1)
print(df_lamb_n2)
print()
print("=====================================================================================")
print()

##### ***Manipulation Of Data***
    --> Inserting column By using .insert() function and .assign() function
```
    dataframe.insert(loc, column, value, allow_duplicates = False)
    dataframe.assign(**kwargs)
``` 
    --> Droping Data Rows or column by .drop() function and .truncate() function
```
    dataframe.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors=’raise’)
    dataframe.truncate(before=None, after=None, axis=None, copy=True)
    
    series.truncate(before=None, after=None, axis=None, copy=True)
``` 
    --> Iterative function in dataframe
```
    dataframe.iterrows()
    dataframe.iteritems()
    dataframe.itertuples()
``` 
    --> Sorting Dataframe Data by using .sort_values()
```
    dataframe.sort_values(by, axis=0, ascending=True, inplace=False, kind=’quicksort’, na_position=’last’)
```

In [ ]:
print("=====================================================================================")
print()
# # # MANIPULATING DATA
# # Adding New Column
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
df_manip = pd.DataFrame(data)
print(df_manip)
print()

df_manip["Address"] = ['Delhi', 'Bangalore', 'Chennai', 'Patna'] # Add new column as Address
df_manip.insert(2, "Address", ['Delhi', 'Bangalore', 'Chennai', 'Patna'])
df_manip = df_manip.assign(address=['Delhi', 'Bangalore', 'Chennai', 'Patna'])
print(df_manip)
print()
print("=====================================================================================")
print()


# # Delete rows/columns from DataFrame using Pandas.drop()
data = pd.read_csv('Data/nba.csv', index_col="Name")
print(data.head(5))
print()

data.drop(["Avery Bradley", "John Holland", "R.J. Hunter"], inplace = True) # Drop passed value data
print(data.head())
print()

data.drop(["Team", "Weight"], axis = 1, inplace = True) # Drop Passed Column Data
print(data.head(5))
print()
print("=====================================================================================")
print()


# # Pandas DataFrame.truncate, Series.truncate --> Used to delete data, before and after of given index
df_trun = pd.DataFrame({'Weight':[45, 88, 56, 15, 71],
                   'Name':['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'],
                   'Age':[14, 25, 55, 8, 21]})
index_ = pd.date_range('2010-10-09 08:45', periods = 5, freq ='H')
df_trun.index = index_
print(df_trun)
print()
print(df_trun.truncate(before = '2010-10-09 09:45:00', after = '2010-10-09 11:45:00'))
print()

series_trun = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio', 'Moscow'])
index_ = pd.date_range('2014-08-1 10:00', periods = 6, freq ='H')
series_trun.index = index_
print(series_trun)
print()
print(series_trun.truncate(before = '2014-08-1 14:00:00'))
print()
print("=====================================================================================")
print()


# # Iterating over rows and columns in Pandas DataFrame
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
df_itter = pd.DataFrame(dict)
print(df_itter)
print()

print("Use of ITERROWS: ")
for ix, val in df_itter.iterrows(): # Fetch value using iterrows
    print(ix, ":", val)
print()

print("Use of ITERTUPLES: ")
for tup in df_itter.itertuples(): # Fetch value using itertuples
    print(tup)
print()

df_iter = list(df_itter)
for i in df_iter:
    print(df_itter[i][3])
print()
print("=====================================================================================")
print()


# # Pandas Dataframe.sort_values() --> Sorts a data frame in Ascending or Descending order of passed Column
data = pd.read_csv("Data/nba.csv")
print(data.head(8))
print()

data.sort_values("Name", axis = 0, ascending = True, inplace = True, na_position ='last') # Sorting Frame By Name or one column, last
print(data.head(8))
print()

data.sort_values("Salary", axis = 0, ascending = True, inplace = True, na_position ='first') # Sorting Frame By Salary or one column, first
print(data.head(8))
print()

data.sort_values(["Team", "Name"], axis=0, ascending=True, inplace=True) # Sorting Frame By two columns
print(data.head(8))
print()

data.sort_values(["Team", "Name"], axis=0, ascending=[True,False], inplace=True) # Sorting Frame By two columns
print(data.head(8))
print()
print("=====================================================================================")
print()


# # Add one row in an existing Pandas DataFrame
dict = {'Name':['Martha', 'Tim', 'Rob', 'Georgia'],
        'Maths':[87, 91, 97, 95],
        'Science':[83, 99, 84, 76]
       }
df_ar = pd.DataFrame(dict)
print(df_ar)
print()

df_ar.loc[len(df_ar.index)] = ['Amy', 89, 93]  # Add Row
print(df_ar)
print()

dict = {
    'Name':['Anaya', 'Maddy'],
    'Maths':[98, 90],
    'Science':[39, 81]
    } 
df_ar1 = pd.DataFrame(dict)
df_ar = pd.concat([df_ar, df_ar1], ignore_index = True)  # Add Row
df_ar.reset_index()
print(df_ar)
print()
print("=====================================================================================")
print()

##### ***GROUPING***
    -- 1. Group the unique values from the Team column.
![Alt text](image-1.png)

    -- 2. Now there’s a bucket for each group.
![Alt text](image-2.png)

    -- 3. Toss the other data into the buckets.
![Alt text](image-3.png)

    -- 4. Apply a function on the weight column of each bucket.
![Alt text](image-4.png)

    --> Group by similar values in columns
```
    dataframe.groupby(key)
    dataframe.groupby(key, axis=1)
    dataframe.groupby([key1, key2])
```
    --> Group by Dictionary
```
    dataframe.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)
```

In [ ]:
print("=====================================================================================")
print()
# # # GROUPING DATA
data = {
    'Name':['Jai', 'Anuj', 'Jai', 'Princi', 'Gaurav', 'Anuj', 'Princi', 'Abhi'],
    'Age':[27, 24, 22, 32, 33, 36, 27, 32],
    'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj', 'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],
    'Qualification':['Msc', 'MA', 'MCA', 'Phd', 'B.Tech', 'B.com', 'Msc', 'MA'],
    'Score': [23, 34, 35, 45, 47, 50, 52, 53]
    }
df_grp = pd.DataFrame(data=data)
print(df_grp)
print()


# # Let's make Groups by their NAME. (By Single Key)
print(df_grp.groupby('Name'))
print(df_grp.groupby('Name').groups)
print()

# Let's print the first entries in all the groups formed.
print("First Entry of Each Group: \n", df_grp.groupby('Name').first())
print()

# Let's print the last entries in all the groups formed.
print("Last Entry of Each Group: \n", df_grp.groupby('Name').last())
print()
print("=====================================================================================")
print()

# # Using multiple keys in groupby() function
print(df_grp.groupby(['Name', 'Qualification']))
print(df_grp.groupby(['Name', 'Qualification']).groups)
print()
print("=====================================================================================")
print()


# # Grouping Dataframe with sort and without sort:
data = {
    'Name':['Jai', 'Anuj', 'Jai', 'Princi', 'Gaurav', 'Anuj', 'Princi', 'Abhi'],
    'Age':[27, 24, 22, 32, 33, 36, 27, 32]
    }
df_grp1 = pd.DataFrame(data=data)
print(df_grp1)
print()

# With sort (by default sort is True)
print("Without Sort: \n", df_grp1.groupby(['Name']).sum())

# With sort (by default sort is True)
print("With Sort: \n", df_grp1.groupby(['Name'], sort=False).sum())
print()
print("=====================================================================================")
print()


# # Iteration Groups:
# Single key value iteration
grp = df_grp.groupby("Name")
for name, group in grp:
    print(name, "\n", group)
print()

print(grp.get_group('Jai'))
print()

# Multiple key value iteration
grp1 = df_grp.groupby(["Name", "Qualification"])
for name, group in grp:
    print(name, "\n", group)
print()

print(grp.get_group(("Jai", "Msc")))
print()
print("=====================================================================================")
print()


# # Apply Aggregate function to the groups
print("SUM: ", grp.aggregate(np.sum)) # Sum of all the groups value. (By Single function)
print()
print("SUM :", grp1.aggregate(np.sum)) # Sum of all the groups value. (By Single function)
print()
print("Multiple Function at once: \n", grp["Age"].agg([np.sum, np.mean, np.std])) # Apply multiple function simultaneously.
print()
print("Multiple Function at once: \n", grp1["Age"].agg([np.sum, np.mean, np.std])) # Apply multiple function simultaneously.
print()

# Applying different functions to DataFrame columns
print("Apply function in another way: \n", grp.agg({'Age' : 'sum', 'Score' : 'std'}))
print()
# Using transform, filter function
print("BY TRANSFORM: \n", grp['Age'].transform(lambda x: (x - x.mean()) / x.std()*10))
print()
print("BY FILTER: \n", grp['Age'].filter(lambda x: len(x) >= 2))
print()
print("=====================================================================================")
print()


# # Grouping by Rows in DataFrame
data = {
    'Team':[
        'Australia', 'England', 'South Africa','Australia', 'England',
        'India', 'India', 'South Africa', 'England', 'India'
        ],
    'Player':[
        'Ricky Ponting', 'Joe Root', 'Hashim Amla', 'David Warner', 'Jos Buttler', 'Virat Kohli',
        'Rohit Sharma', 'David Miller', 'Eoin Morgan','Dinesh Karthik'
        ],
    'Runs':[345, 336, 689, 490, 989, 672, 560, 455, 342, 376],
    'Salary':[34500, 33600, 68900, 49000, 98899, 67562, 56760, 45675, 34542, 31176]
    }
df_grp = pd.DataFrame(data)
print(df_grp.head(5))
print()

print(df_grp['Salary'].groupby(df_grp["Team"]))
print(df_grp['Salary'].groupby(df_grp["Team"]).groups)
print()

print("Print Fist Data of the Groups: \n", df_grp['Salary'].groupby(df_grp["Team"]).first()) # Print first elements or data of groups
print()

print("Print Last Data of the Groups: \n", df_grp['Salary'].groupby(df_grp["Team"]).last()) # Print last data of groups
print()

# Print means of the groups or we apply many function to it same as above
print("Means of the Salary: \n", df_grp['Salary'].groupby(df_grp["Team"]).mean())
print()
print("=====================================================================================")
print()


# # Combining multiple columns in Pandas groupby with dictionary
data = {
    'id':['1', '2', '3'],
    'Column 1.1':[14, 15, 16],
    'Column 1.2':[10, 10, 10],
    'Column 1.3':[1, 4, 5],
    'Column 2.1':[1, 2, 3],
    'Column 2.2':[10, 10, 10]
    }
df_grp = pd.DataFrame(data=data)
df_grp = df_grp.set_index('id')

# Creating the groupby dictionary 
groupby_dict = {
    'Column 1.1':'Column 1',
    'Column 1.2':'Column 1',
    'Column 1.3':'Column 1',
    'Column 2.1':'Column 2',
    'Column 2.2':'Column 2'
    }

# Groupby the groupby_dict created above with axis and without axis
grp = df_grp.groupby(groupby_dict)
print(grp)
print(grp.groups)
print()
print("Print first data of the groups: \n", grp.first())
print()
print("Print last data of the groups: \n", grp.last())

grp = df_grp.groupby(groupby_dict, axis = 1)
print(grp)
print(grp.groups)
print()

print("Print first data of the groups: \n", grp.first())
print()
print("Print last data of the groups: \n", grp.last())
print()

# with function operation
data = {
    "ID":[1, 2, 3],
    "Movies":["The Godfather", "Fight Club", "Casablanca"],
    "Week_1_Viewers":[30, 30, 40],
    "Week_2_Viewers":[60, 40, 80],
    "Week_3_Viewers":[40, 20, 20]
    }
df_grp = pd.DataFrame(data=data)
df_grp = df_grp.set_index('ID')
print(df_grp)
print()

# Creating the groupby dictionary
groupby_dict = {
    "Week_1_Viewers":"Total_Viewers",
    "Week_2_Viewers":"Total_Viewers",
    "Week_3_Viewers":"Total_Viewers",
    "Movies":"Movies"
    }
grp = df_grp.groupby(groupby_dict, axis=1)
print(grp)
print(grp.groups)
print()
print("Print first data of the groups: \n", grp.first())
print()
print("Print last data of the groups: \n", grp.last())
print()
print("Summation of all the group data: \n", grp.sum())
print()
print("Minimum value of the grouped data: \n", grp.min())
print()
print("=====================================================================================")
print()

##### ***MERGING, JOINING, CONCATING, and COMPARING***
    -- Merging dataframe using `how` in an argument:
![Alt text](image-5.png)


    --> Concating dataframe and series by using JOIN
```
    dataframe.join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False, validate=None)
```
    --> Concating dataframe and series by using MERGE
```
    dataframe.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=None, indicator=False, validate=None)
```
    --> Concating dataframe and series by using CONCAT
```
    pd.concat(objs, *, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=None)
```
    --> Concating dataframe and series by using CAT
```
    series.str.cat(others=None, sep=None, na_rep=None)
```
    --> Concating dataframe and series by using APPEND
```
    dataframe.append(other, ignore_index=False, verify_integrity=False, sort=None)  
    series.append(other, ignore_index=False, verify_integrity=False, sort=None)  
    index.append(other, ignore_index=False, verify_integrity=False, sort=None)  
```
    --> Concating dataframe and series by using COMBINE
```
    series.combine(other, func, fill_value=nan)
```
    --> Concating dataframe and series by using str.join
```
    series.str.join(sep)
```
    --> Comparing dataframe and series by using COMPARE
```
    dataframe.compare(other, align_axis=1, keep_shape=False, keep_equal=False)
```

In [ ]:
print("=====================================================================================")
print()
# # # MERGING, JOINING, CONCATINATING and COMPARING.
# dataFrame one
data_1 = {
    'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
    'Age':[27, 24, 22, 32],
    'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
    'Qualification':['Msc', 'MA', 'MCA', 'Phd']
    }

data_2 = {
    'Name':['Abhi', 'Ayushi', 'Dhiraj', 'Hitesh'],
    'Age':[17, 14, 12, 52],
    'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
    'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']
    }
df_c1 = pd.DataFrame(data_1)
df_c2 = pd.DataFrame(data_2)

# dataFrame two
data_3 = {
    'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
    'Age':[27, 24, 22, 32], 
    'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
    'Qualification':['Msc', 'MA', 'MCA', 'Phd'],
    'Mobile No': [97, 91, 58, 76]
    }

data_4 = {
    'Name':['Gaurav', 'Anuj', 'Dhiraj', 'Hitesh'], 
    'Age':[22, 32, 12, 52], 
    'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
    'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons'],
    'Salary':[1000, 2000, 3000, 4000]
    }
df_c3 = pd.DataFrame(data_3).set_index('Name')
df_c4 = pd.DataFrame(data_4).set_index('Name')
print(df_c1, "\n\n", df_c2)
print()
print("Concatenation of two Dataframe: \n", pd.concat([df_c1, df_c2], ignore_index=True))
print()

# # Concatenation of two Dataframe using Join
print(df_c3, "\n\n", df_c4)
print()
print("Concatenation of two Dataframe using Join: \n", pd.concat([df_c3, df_c4], axis=1, join='inner'))
print()

print(pd.concat([df_c3, df_c4], axis=1, sort=False)) # using a .concat for union of dataframe
print()
print(pd.concat([df_c1, df_c2], keys=['x', 'y']))
print()

# Concatenating with mixed ndims
series_c = pd.Series([1000, 2000, 3000, 4000], name='Salary')
print(pd.concat([df_c1, series_c], axis=1))
print()
print("=====================================================================================")
print()


# # Merging DataFrame abd Joining (by merge and join)
data_1 = {
    'key': ['K0', 'K1', 'K2', 'K3'],
    'key1': ['K0', 'K0', 'K2', 'K5'],
    'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
    'Age':[27, 24, 22, 32]
    }

data_2 = {
    'key': ['K0', 'K1', 'K2', 'K3'],
    'key1': ['K1', 'K1', 'K2', 'K4'],
    'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
    'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']
    }
df_c1 = pd.DataFrame(data_1)
df_c2 = pd.DataFrame(data_2)

print(df_c1, "\n\n", df_c2)
print()
print(pd.merge(df_c1, df_c2, on='key'))
print()
print(pd.merge(df_c1, df_c2, how='left', on=['key', 'key1']))
print()
print(pd.merge(df_c1, df_c2, how='right', on=['key', 'key1']))
print()
print(pd.merge(df_c1, df_c2, how='outer', on=['key1', 'key1']))
print()
print(pd.merge(df_c1, df_c2, how='inner', on=['key', 'key1']))
print()
df_c1 = df_c1.set_index('key1')
df_c2 = df_c2.set_index('key')
print(df_c1.join(df_c2))
print()
print(df_c1.join(df_c2, on='key'))
print()
print(df_c1.join(df_c2, on='key', how="left"))
print()
print("=====================================================================================")
print()


# # Pandas Series.str.cat() to concatenate string
df_cat = pd.read_csv("Data/nba.csv")
print(df_cat.head())
print()

# concatenating team with name column overwriting name column
df_cat1 = df_cat["Team"].copy()
df_cat["Name"]= df_cat["Name"].str.cat(df_cat1, sep =", ")
print(df_cat.head())
print()

df_cat1 = df_cat["Team"].copy()
na_string = "No College"
df_cat["College"]= df_cat["College"].str.cat(df_cat1, sep =", ", na_rep = na_string)
print(df_cat.head())
print()
print("=====================================================================================")
print()


# # Merging data with using Pandas index.append()
ix_app = pd.Index(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio'])
ix_app_1 = pd.Index(['Chicage', 'Shanghai', 'Beijing', 'Jakarta', 'Seoul'])
print(ix_app, "\n", ix_app_1)
print()
print(ix_app.append(ix_app_1))
print()
print("=====================================================================================")
print()


# # Pandas Series.combine()
sr_com = pd.Series([1, 2, 5, 6, 3, 7, 11, 0, 4])
sr_com_1 = pd.Series([5, 3, 2, 1, 3, 9, 21, 3, 1])
print(sr_com, "\n", sr_com_1)
print()
print(sr_com.combine(sr_com_1, (lambda x1, x2: x1 if x1 < x2 else x2))) # without NULL Values
print()

sr_com = pd.Series([1, 2, np.nan, 5, 6, 3, np.nan, 7, 11, 0, 4, 8])
sr_com_1 = pd.Series([5, 3, 2, np.nan, 1, 3, 9, 21, 3, np.nan, 1, np.nan])
print(sr_com, "\n", sr_com_1)
print(sr_com.combine(sr_com_1, func=(lambda x1, x2: x1 if x1 > x2 else x2), fill_value=5)) # with NULL Values
print()
print("=====================================================================================")
print()

In [ ]:
print("=====================================================================================")
print()
# # Add a row at top in pandas DataFrame
data = pd.read_csv("Data/nba.csv")
print(data.head())
print()

add_row = pd.DataFrame({
    'Name':'Geeks', 'Team':'Boston', 'Number':3, 'Position':'PG', 'Age':33, 'Height':'6-2', 
    'Weight':189, 'College':'MIT', 'Salary':99999}, index =[0]
    )
print((pd.concat([add_row, data]).reset_index(drop=True)).head(5))
print()
print("=====================================================================================")
print()


# # Pandas str.join() to join string/list elements with passed delimiter
data.dropna(inplace = True) # Drop the Null value columns
data["Name"]= data["Name"].str.join("-")
print(data.head(5))
print()

data["Team"]= data["Team"].str.split("t")
data["Team"]= data["Team"].str.join("_")
print(data.head(5))
print()
print("=====================================================================================")
print()


# # Join two text columns into a single column in Pandas
df_scj = pd.DataFrame({
    'Last': ['Gaitonde', 'Singh', 'Mathur'],
    'First': ['Ganesh', 'Sartaj', 'Anjali']
    })
print(df_scj)
print()

# Below three are return same values
df_scj['Name'] = df_scj['First'].str.cat(df_scj['Last'], sep =" ")
df_scj['Name'] = df_scj[['First', 'Last']].apply(lambda x: ' '.join(x), axis = 1)
df_scj['Name'] = df_scj["First"].astype(str) +" "+ df_scj["Last"]
print(df_scj)
print()
print("=====================================================================================")
print()


# # Compare Two Dataframes with Pandas compare
df_cmp_1 = pd.DataFrame({
    "Stationary": ["Pens", "Scales", "Pencils", "Geometry Box", "Crayon Set"],
    "Price": [100, 50, 25, 100, 65],
    "Quantity": [10, 5, 5, 2, 1]
    },columns=["Stationary", "Price", "Quantity"])

df_cmp_2 = df_cmp_1.copy()
df_cmp_2.loc[0, 'Price'] = 150 
df_cmp_2.loc[1, 'Price'] = 70
df_cmp_2.loc[2, 'Price'] = 30
df_cmp_2.loc[0, 'Quantity'] = 15
df_cmp_2.loc[1, 'Quantity'] = 7
df_cmp_2.loc[2, 'Quantity'] = 6

print(df_cmp_1, "\n\n", df_cmp_2)
print()
print("DataFrame Compare without Parameter: \n", df_cmp_1.compare(df_cmp_2))
print()
print("DataFrame Compare with Parameter - align_axis: \n", df_cmp_1.compare(df_cmp_2, align_axis=0))
print()
print("DataFrame Compare with Parameter - keep_equal: \n", df_cmp_1.compare(df_cmp_2, keep_equal=True))
print()
print("DataFrame Compare with Parameter - keep_equal: \n", df_cmp_1.compare(df_cmp_2, keep_equal=False))
print()
print("DataFrame Compare with Parameter - keep_shape: \n", df_cmp_1.compare(df_cmp_2, keep_shape=True))
print()
print("DataFrame Compare with Parameter - keep_shape & keep_equal: \n", df_cmp_1.compare(df_cmp_2, keep_shape=True, keep_equal=True))
print()
print("=====================================================================================")
print()


# # compare the elements of the two Pandas Series
sr_cmp_1 = pd.Series([2.5, 4, 6, 8, 10, 1.75, 40])
sr_cmp_2 = pd.Series([1.5, 3, 5, 7, 10, 1.75, 20])
print("Series: ", sr_cmp_1)
print("Series: ", sr_cmp_2)
print()

print("Compare with '==': \n", sr_cmp_1 == sr_cmp_2, "\n")
print("Compare with '!=': \n", sr_cmp_1 != sr_cmp_2, "\n")
print("Compare with '>': \n", sr_cmp_1 < sr_cmp_2, "\n")
print("Compare with '<': \n", sr_cmp_1 > sr_cmp_2, "\n")

print("Comparing two DataFrame with using .equals: ", df_cmp_1.equals(df_cmp_2))
print("Comparing two DataFrame with using .equals: ", df_cmp_1.equals(df_cmp_1))
print()
print("=====================================================================================")
print()

##### ***WORKING WITH DATE AND TIME***
    --> Create Dataframe or list of Dates using date_range
```
    pandas.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs)
```
    --> Display current time using datetime.now() function
```
    pd.Timestamp.now()
    pd.datetime.now()
```
    --> Fetch particular value like [month, year, day, hour, minute, second]
```
    pandas.Series.dt.year
    pandas.Series.dt.month
    pandas.Series.dt.day
    pandas.Series.dt.hour
    pandas.Series.dt.minute
```
    --> Set Timestamp and working ewith them also it has sub function [.now(), .timestamp(), .isoformat(), .date(), .replace()]
```
    pandas.Timestamp(ts_input=<object object>, year=None, month=None, day=None, hour=None, minute=None, second=None, microsecond=None, tzinfo=None, *, nanosecond=None, tz=None, unit=None, fold=None)

    pandas.Timestamp.now(tz=None)

    pandas.Timestamp.isoformat(sep, timespec)

    pandas.Timestamp.replace(year=None, month=None, day=None, hour=None, minute=None, second=None, microsecond=None, nanosecond=None, tzinfo=<class 'object'>, fold=None)
```
    --> Change value to date and time format
```
    pandas.to_datetime(arg, errors=’raise’, dayfirst=False, yearfirst=False, utc=None, box=True, format=None, exact=True, unit=None, infer_datetime_format=False, origin=’unix’, cache=False)  
```

In [ ]:
print("=====================================================================================")
print()
# # # WORKING WITH DATE AND TIME
# # Create dates data
dates = pd.date_range('1/1/2011', periods = 15, freq ='H') # create 10 data for duration 1 hour
print(dates)
print()

print("Days: ", dates.day, "\n")
print("Months: ", dates.month, "\n")
print("Years: ", dates.year, "\n")
print("Hours: ", dates.hour, "\n")
print("Minutes: ", dates.minute, "\n")

print(pd.Timestamp.now()) # Print Present time
print("Days: ", (pd.Timestamp.now()).day)
print("Months: ", (pd.Timestamp.now()).month)
print("Years: ", (pd.Timestamp.now()).year)
print("Hours: ", (pd.Timestamp.now()).hour)
print("Minutes: ", (pd.Timestamp.now()).minute)
print()
print("=====================================================================================")
print()


# # Analyze this problem on a real dataset uforeports.
df_dts = pd.read_csv('Data/ufo.csv')
print(df_dts.head())
print()

df_dts['Time'] = pd.to_datetime(df_dts.Time)
print(df_dts.head())
print()
print("Datatypes of Each Columns: \n", df_dts.dtypes)
print()
print("Hour from Date data: \n", df_dts.Time.dt.hour.head())
print()
print("Name of Day from Date data: \n", df_dts.Time.dt.day_name().head())
print()
print("Ordinal day of year from Date data: \n", df_dts.Time.dt.dayofyear.head())
print()
print("=====================================================================================")
print()


# # Pandas Timestamp.timestamp
data_ts = pd.Timestamp(year = 2011,  month = 11, day = 21, hour = 10, second = 49, tz = 'Asia/Kolkata')
print("Time Stamp: ", data_ts)
print()

print("Number of Hours: ", data_ts.timestamp())
print()
print("Time Structure: ", data_ts.timetuple())
print()
print("Time: ", data_ts.timetz())
print()
print("=====================================================================================")
print()


# # Create data and working with them by timestamp.now(), timestamp.isoformat(), timestamp.now()
print("Current Timestamp: ", pd.Timestamp.now())
print()

data_ts_1 = pd.date_range(end=pd.Timestamp.now(), periods=5, freq='D')
print("Date range Until till: \n", data_ts_1)
print()

df_ts = pd.DataFrame({"Time Stamps":data_ts_1, "Temperature": [21.2, 23.2, 27.2, 29.2, 31.2]})
print("Make it DataFrame: \n", df_ts)
print()

print("ISO Formate: ", (pd.Timestamp.now()).isoformat())
print("Today's Date: ", (pd.Timestamp.now()).date())
print()
print("=====================================================================================")
print()


# # Create data and working with them by timestamp.replace(), to_datetime(), date_range()
print("Today's Date Before Replace: ", (pd.Timestamp.now()))
print("Today's Date After Replace: ", (pd.Timestamp.now()).replace(year=2024))
print()
print("Today's Date Before Replace: ", (pd.Timestamp.now()))
print("Today's Date After Replcae: ", (pd.Timestamp.now()).replace(year=2012, month=12, day=12, 
                                                                   hour=12, minute=12, second=12, microsecond=12))
print()

# Working with datasets
data = pd.read_csv('Data/todatetime.csv')
print("Before apply operation: \n", data)
print("Information about data: \n", data.info())
print()

data["Time"]= pd.to_datetime(data["Time"])
print("After apply operation: \n", data)
print("Information about data: \n", data.info())
print()

dt_rng  = pd.date_range(start="1/1/2018", end="1/08/2018", freq='1D')
print("Date Ranges: \n", dt_rng)
print()

dt_rng  = pd.date_range(start="1/1/2018", periods=10, freq='1D')
print("Date Ranges: \n", dt_rng)
print()

dt_rng  = pd.date_range(start ='01-03-2017',  end ='1-1-2018', periods = 10, tz='Asia/Kolkata')
print("Date Ranges: \n", dt_rng)
print()
print("=====================================================================================")
print()

##### ***WORKING WITH TEXT DATA***
    --> Change the cases of text data from dataframe
```
    dataframe['column'].str.lower()
    dataframe['column'].str.upper()
    dataframe['column'].str.title()
```
    --> Split text data and concatenating text data
```
    dataframe.str.cat(other, sep)
    dataframe['column'].str.split(sep,  expand, n)

    series.str.cat(other, sep)
    series.str.split(sep,  expand, n)
```
    --> Replace data from text values
```
    dataframe.replace(to_replace=None, value=_NoDefault.no_default, *, inplace=False, limit=None, regex=False, method=_NoDefault.no_default)
```
    --> Removing Whitespace from text data
```
    series.str.lstrip(to_strip=None)
    series.str.rstrip(to_strip=None)
    series.str.strip(to_strip=None)
```
    --> Increment dateoffset to date
```
    pandas.tseries.offsets.DateOffset(n=1, normalize=False, **kwds)
```

In [ ]:
print("=====================================================================================")
print()
# # #  WORKING WITH TEXT DATA
data = {
    'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
    'Age':[27, 24, 22, 32],
    'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Knnuaj'],
    'Qualification':['Msc', 'MA', 'MCA', 'Phd']
}
df_txt = pd.DataFrame(data)
print(df_txt)
print()

data = pd.read_csv("Data/nba.csv")
print(data.head())
print()

# df_txt["Address"]= df_txt["Address"].str.split("a", n=1, expand=True)
df_txt["Address"]= df_txt["Address"].apply(lambda x: x.split('A', 1)[0] if 'A' in x else x)
print("After applying split: \n", df_txt)
print()

df_txt['Name'] = df_txt['Name'].str.cat(df_txt['Qualification'], sep=" , ") # concatenating two string {Series}
print("After applying Operation: \n", df_txt)
print()

sr_txt = pd.Series(['a1', 'b2', 'c3'])
print("Extract: \n", sr_txt.str.extract(r'([ab])(\d)'))
print()

sr_txt = pd.Series(['a1', 'b2', 'c3'])
print("Extract: \n", sr_txt.str.extract(r'(?P<Letter>[ab])(?P<Digit>\d)'))
print()
print("=====================================================================================")
print()


# # Using lower, upper, title function
df_txt["Name"]= df_txt["Name"].str.lower()
print("After applying lower function: \n", df_txt)
print()

df_txt["Address"]= df_txt["Address"].str.upper()
print("After applying upper function: \n", df_txt)
print()

df_txt["Address"]= df_txt["Address"].str.upper().str.title()
print("After applying title function: \n", df_txt)
print()
print("=====================================================================================")
print()


# # Replacing dataframe and series
data["Age"]= data["Age"].replace(25.0, "Twenty five") # replace value by replace function
filter = data["Age"]=="Twenty five" # creating a filter for age column  where age = "Twenty five"
print("Filter data: \n", (data.where(filter).dropna()).head())
print()

sr_txt = pd.Series([10, 25, 3, 11, 24, 6])
index_ = ['Coca Cola', 'Sprite', 'Coke', 'Fanta', 'Dew', 'ThumbsUp']
sr_txt.index = index_
print("Series: \n", sr_txt)
print()

sr_txt = sr_txt.replace(to_replace = 3, value = 1000)
print("Update Series: \n", sr_txt)
print()
print("=====================================================================================")
print()


# # Using strip to remove whitespace
print(data)
print()

data["Team"] = data["Team"].replace("Boston Celtics", " Boston Celtics ") # applying lstrip
print(data['Team'].str.lstrip()=="Boston Celtics ")
print()

data["Team"] = data["Team"].replace("Boston Celtics", " Boston Celtics ") # applying lstrip
print(data['Team'].str.rstrip()==" Boston Celtics")
print()

data["Team"] = data["Team"].replace("Boston Celtics", " Boston Celtics ") # applying strip
print(data['Team'].str.strip()==" Boston Celtic", "\n")
print(data['Team'].str.strip()=="Boston Celtics ", "\n")
print(data['Team'].str.strip()==" Boston Celtic ")
print()
print("=====================================================================================")
print()


# # Timestamp
ts_txt = pd.Timestamp('2019-10-10 07:15:11')
print(ts_txt)
print()

print("Set dateOffset:  ", pd.tseries.offsets.DateOffset(n = 2))
print()
print("After applying dateOffset:  ", (ts_txt + pd.tseries.offsets.DateOffset(n = 2)))
print()

print("Set in hour dateOffset:  ", pd.tseries.offsets.DateOffset(days = 10, hours = 2))
print()
print("After applying dateOffset:  ", (ts_txt + pd.tseries.offsets.DateOffset(days = 10, hours = 2)))
print()
print("=====================================================================================")
print()

##### ***WORKING WITH CSV AND EXCEL FILES***
    --> Read csv files and load to dataframe and save dataframe to csv
```
    pandas.read_csv(filepath_or_buffer, *, sep=_NoDefault.no_default, delimiter=None, header='infer', names=_NoDefault.no_default, index_col=None, usecols=None, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=None, infer_datetime_format=_NoDefault.no_default, keep_date_col=False, date_parser=_NoDefault.no_default, date_format=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, on_bad_lines='error', delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options=None, dtype_backend=_NoDefault.no_default)

    DataFrame.to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', lineterminator=None, chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.', errors='strict', storage_options=None)
```

    --> Read Excel files and save to Excel file
```
    pandas.read_excel(io, sheet_name=0, *, header=0, names=None, index_col=None, usecols=None, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, parse_dates=False, date_parser=_NoDefault.no_default, date_format=None, thousands=None, decimal='.', comment=None, skipfooter=0, storage_options=None, dtype_backend=_NoDefault.no_default, engine_kwargs=None)

    pandas.ExcelFile(path_or_buffer, engine=None, storage_options=None, engine_kwargs=None)

    dataframe.to_excel(excel_writer, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, merge_cells=True, inf_rep='inf', freeze_panes=None, storage_options=None, engine_kwargs=None)
```

    --> Lets create excel writer and their function
```
    pandas.ExcelWriter(path, engine=None, date_format=None, datetime_format=None, mode='w', storage_options=None, if_sheet_exists=None, engine_kwargs=None)

    xlsxwriter.Workbook(file, **engine_kwargs)
    openpyxl.Workbook(**engine_kwargs)  # Write mode
    openpyxl.load_workbook(file, **engine_kwargs)  # append mode

    format = workbook.add_format(properties)
    sheet.insert_image(row, col, image_path, options)
    sheet.set_row(row, height, cell_format, options)
    sheet.set_column(first_col, last_col, width)
    sheet.write(row, col, value)
```

In [ ]:
print("=====================================================================================")
print()
# # # WORKING WITH CSV AND EXCEL FILES
Data = pd.read_csv("Data/employees.csv")
print(Data.head(8))
print()

Data = pd.read_csv("Data/employees.csv", sep='[:, |_]', engine='python')
print(Data.head(8))
print()

Data = pd.read_csv("Data/employees.csv", header=0, usecols=["First Name", "Gender", "Last Login Time"])
print(Data.head(8))
print()

Data = pd.read_csv("Data/employees.csv", header=0, index_col=["Gender", "Team"], usecols=["Gender", "Team", "Last Login Time"])
print(Data.head(8))
print()

Data = pd.read_csv("Data/employees.csv", skiprows = [1,5])
print(Data.head(8))
print()
print("=====================================================================================")
print()


# # Saving DataFrame as csv
# Create DataFrame
df_csv = pd.DataFrame({
    'Name': ["aparna", "pankaj", "sudhir", "Geeku"],
    'Degree': ["MBA", "BCA", "M.Tech", "MBA"],
    'Score': [90, 40, 80, 98]
})
print(df_csv)
print()

# saving the dataframe
df.to_csv('Data/file.csv')
df.to_csv('Data/file.csv', header=False, index=False)
df.to_csv('Data/Users.csv', sep='\t', index=False,header=True)
print("=====================================================================================")
print()


# # Load Excel Spreadsheets
data_exl = pd.ExcelFile('Data/Test.xlsx')
print("Names of sheet in file:  ", data_exl.sheet_names)
print("Printing Sheet1 data:  \n", data_exl.parse('Sheet1'))
print()

data_exl = pd.read_excel('Data/Test.xlsx', usecols = [1, 3])
print("Printing Sheet1 data:  \n", data_exl)
print()

data_exl = pd.read_excel('Data/Test.xlsx', header=2)
print("Printing Sheet1 data:  \n", data_exl)
print()

data_exl = pd.read_excel('Data/Test.xlsx', skiprows=2)
print("Printing Sheet1 data:  \n", data_exl)
print()

data_exl = pd.read_excel('Data/Test.xlsx', na_values="Missing")
print("Printing Sheet1 data:  \n", data_exl)
print()
print("=====================================================================================")
print()

In [ ]:
print("=====================================================================================")
print()
# # Working with XLSXWRITER
df_exl = pd.DataFrame({
    'Name': ["aparna", "pankaj", "sudhir", "Geeku"],
    'Degree': ["MBA", "BCA", "M.Tech", "MBA"],
    'Score': [90, 40, 80, 98]
})
# Create a Pandas Excel writer object using XlsxWriter as the engine.
writer = pd.ExcelWriter('Data/file.xlsx', engine ='xlsxwriter')
df_exl.to_excel(writer, sheet_name ='Sheet1') # Create sheet in Excel Files
# Create sheet in Excel Files with Parameter
df_exl.to_excel(writer, sheet_name ='Sheet1', startcol=2, startrow=3, header=False, index=False) 
writer.close()
print("=====================================================================================")
print()

# dataframe with datetimes to an Excel file with a default datetime and date format using Pandas and XlsxWriter
df_dt = pd.DataFrame({  # dataframe created using some date and times data
    'Date and time': [ 
        datetime(2018, 1, 11, 11, 30, 55),
        datetime(2018, 2, 12, 1,  20, 33),
        datetime(2018, 3, 13, 11, 10    ),
        datetime(2018, 4, 14, 16, 45, 35),
        datetime(2018, 5, 15, 12, 10, 15) ],
    
    'Dates only': [ 
        date(2018, 6, 21),
        date(2018, 7, 22),
        date(2018, 8, 23),
        date(2018, 9, 24),
        date(2018, 10, 25) ]
})
print(df_dt)
print()

writer = pd.ExcelWriter("Data/file_dt.xlsx", engine ='xlsxwriter', 
                        datetime_format ='mmm d yyyy hh:mm:ss', date_format ='mmmm dd yyyy')
df_dt.to_excel(writer, sheet_name ='Sheet1')
workSheet  = writer.sheets['Sheet1']
workSheet.set_column('B:C', 20) 
writer.close()
print("=====================================================================================")
print()

# # Dataframe to an Excel file with column formats using Pandas and XlsxWriter
dataframe = pd.DataFrame(
    {'Marks (Out of 50)': [30, 40, 45, 15, 8, 5, 35],
     'Percentage': [.6,   .8,   .9,  .3,  .16,   .1,  .7 ], })

writer = pd.ExcelWriter("Data/Test.xlsx", engine ='xlsxwriter')
dataframe.to_excel(writer, sheet_name ='Sheet1')
workbook = writer.book
worksheet = writer.sheets['Sheet1']
format_1 = workbook.add_format({'num_format': '# 0.00'}) # Create a new Format object to formats cells n worksheets using add_format() method
format_2 = workbook.add_format({'num_format': '0 %'})
   
# NOTE: It isn't possible to format any cells that already have a format such as the index or headers or any
# cells that contain dates or datetimes.
worksheet.set_column('B:B', 20, format_1)
worksheet.set_column('C:C', 15, format_2)
writer.close()
print("=====================================================================================")
print()

# Dataframe to an Excel file with a user defined header format using Pandas and XlsxWriter
df_xsl_plt = pd.DataFrame({
    'Subject': ["Math", "Physics", "Computer", "Hindi", "English", "chemistry"],
    'Mid Term Exam Scores Out of 100' : [95, 78, 80, 80, 60, 95],
    'End Term Exam Scores Out of 100' : [90, 67, 78, 70, 63, 90]
})
writer = pd.ExcelWriter("Data/Test.xlsx", engine ='xlsxwriter')
df_xsl_plt.to_excel(writer, sheet_name ='Sheet2')
workbook = writer.book
worksheet = writer.sheets['Sheet2']

hformate = workbook.add_format({ 
    'bold': True, 
    'italic' : True, 
    'text_wrap': True, 
    'valign': 'top',
    'font_color': 'red',
    'border': 2
})
for col_number, value in enumerate(dataframe.columns.values):
    worksheet.write(0, col_number + 1, value, hformate)
writer.close()
print("=====================================================================================")
print()

In [ ]:
print("=====================================================================================")
print()
# Plot a Column chart using Pandas and XlsxWriter
df_xsl_plt = pd.DataFrame({
    'Subject': ["Math", "Physics", "Computer", "Hindi", "English", "chemistry"],
    'Mid Exam Score' : [90, 78, 60, 80, 60, 90],
    'End Exam Score' : [45, 39, 30, 40, 30, 60] 
})
writer = pd.ExcelWriter('Data/Test.xlsx', engine ='xlsxwriter')
df_xsl_plt.to_excel(writer, sheet_name ='Sheet1')
workbook = writer.book

worksheet = writer.sheets['Sheet1']
worksheet.set_column('B:C', 20)

chart = workbook.add_chart({'type': 'column'})

chart.add_series({
    'name': ['Sheet1', 0, 2],
    'categories': ['Sheet1', 1, 3, 6, 3],
    'values': ['Sheet1', 1, 2, 6, 2]
})

chart.add_series({
	'name':	 ['Sheet1', 0, 1],
	'categories': ['Sheet1', 1, 3, 6, 3],
	'values': ['Sheet1', 1, 1, 6, 1]
})

chart.set_title({'name': 'Exam Score Distribution'})
chart.set_x_axis({'name': 'Subjects'})
chart.set_y_axis({'name': 'Marks'})
worksheet.insert_chart('E2', chart, {'x_offset': 20, 'y_offset': 5})
writer.close()
print("=====================================================================================")
print()

# Plot a Line chart using Pandas and XlsxWriter
df_xsl_plt = pd.DataFrame({
    'Mid Exam Score' : [90, 78, 60, 80, 60, 90],
    'End Exam Score' : [45, 39, 30, 40, 30, 60],
    'Subject': ["Math", "Physics", "Computer", "Hindi", "English", "chemistry"]
})
writer = pd.ExcelWriter('Data/Test.xlsx', engine ='xlsxwriter')
df_xsl_plt.to_excel(writer, sheet_name ='Sheet1')
workbook = writer.book

worksheet = writer.sheets['Sheet1']
worksheet.set_column('B:C', 20)

charts = workbook.add_chart({'type': 'line'})

charts.add_series({
    'name': ['Sheet1', 0, 2],
    'categories': ['Sheet1', 1, 3, 6, 3],
    'values': ['Sheet1', 1, 2, 6, 2]
})

charts.add_series({
	'name':	 ['Sheet1', 0, 1],
	'categories': ['Sheet1', 1, 3, 6, 3],
	'values': ['Sheet1', 1, 1, 6, 1]
})

charts.set_title({'name': 'Exam Score Distribution'})
charts.set_x_axis({'name': 'Subjects'})
charts.set_y_axis({'name': 'Marks'})
worksheet.insert_chart('E2', charts, {'x_offset': 20, 'y_offset': 5})
writer.close()
print("=====================================================================================")
print()

# Plot a scatter chart using Pandas and XlsxWriter
df_xsl_plt = pd.DataFrame({
    'Mid Exam Score' : [90, 78, 60, 80, 60, 90],
    'End Exam Score' : [45, 39, 30, 40, 30, 60],
    'Subject': ["Math", "Physics", "Computer", "Hindi", "English", "chemistry"]
})
writer = pd.ExcelWriter('Data/Test.xlsx', engine ='xlsxwriter')
df_xsl_plt.to_excel(writer, sheet_name ='Sheet1')
workbook = writer.book

worksheet = writer.sheets['Sheet1']
worksheet.set_column('B:C', 20)

charts = workbook.add_chart({'type': 'scatter'})

charts.add_series({
    'name': ['Sheet1', 0, 2],
    'categories': ['Sheet1', 1, 3, 6, 3],
    'values': ['Sheet1', 1, 2, 6, 2]
})

charts.add_series({
	'name':	 ['Sheet1', 0, 1],
	'categories': ['Sheet1', 1, 3, 6, 3],
	'values': ['Sheet1', 1, 1, 6, 1]
})

charts.set_title({'name': 'Exam Score Distribution'})
charts.set_x_axis({'name': 'Subjects'})
charts.set_y_axis({'name': 'Marks'})
worksheet.insert_chart('E2', charts, {'x_offset': 20, 'y_offset': 5})
writer.close()

print("=====================================================================================")
print()